<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>4172F6CD-CD6B-42D3-9AB4-19C2976EEB19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED507202-B539-456B-92AC-5EC0644FA6F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Fallback Search Dash</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open -g "dash://{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ED507202-B539-456B-92AC-5EC0644FA6F9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>4172F6CD-CD6B-42D3-9AB4-19C2976EEB19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>When Alfred doesn't find a matching result on your Mac, he shows you a few Fallback Searches.

Want to show your own search alternative in Alfred's Fallback searches? This workflow adds a Dictionary Search using OS X's own Dictionary.

To do this, a Fallback Search trigger is connected to an Open URL action. In the Open URL action, we call the OS X Dictionary with dict://{query} so that it opens the typed query.</string>
	<key>uidata</key>
	<dict>
		<key>4172F6CD-CD6B-42D3-9AB4-19C2976EEB19</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>ED507202-B539-456B-92AC-5EC0644FA6F9</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
