<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>4172F6CD-CD6B-42D3-9AB4-19C2976EEB19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBD76A3F-B465-46FE-B865-53F7000575EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48BB22FF-FE83-4184-9E57-1A2BB75E6154</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBD76A3F-B465-46FE-B865-53F7000575EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Default Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>4172F6CD-CD6B-42D3-9AB4-19C2976EEB19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.firefoxdeveloperedition</string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://duckduckgo.com/?q={query}&amp;ia=web&amp;kae=d</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CBD76A3F-B465-46FE-B865-53F7000575EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>d</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>48BB22FF-FE83-4184-9E57-1A2BB75E6154</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>When Alfred doesn't find a matching result on your Mac, he shows you a few Fallback Searches.

Want to show your own search alternative in Alfred's Fallback searches? This workflow adds a Dictionary Search using OS X's own Dictionary.

To do this, a Fallback Search trigger is connected to an Open URL action. In the Open URL action, we call the OS X Dictionary with dict://{query} so that it opens the typed query.</string>
	<key>uidata</key>
	<dict>
		<key>4172F6CD-CD6B-42D3-9AB4-19C2976EEB19</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>48BB22FF-FE83-4184-9E57-1A2BB75E6154</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>CBD76A3F-B465-46FE-B865-53F7000575EF</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
